.landing,
.layout-wrapper {
  background-image: url(/assets/pattern.png),radial-gradient(50% 50% at center top, #caf1d8 0%, #ffffff 100%);
  background-blend-mode:hard-light, multiply;
  background-position: top center;
      background-repeat: no-repeat;
          background-size: auto 20rem;
}
