:host {
  font-family: var(--_label-text-font);
  background-color: rgb(0, 0, 0, 0);
  border: none;
  position: relative;
  cursor: pointer;
  font-size: var(--_label-text-size);
  line-height: 20px;
  padding: 0.75rem 1.25rem;
  color: var(--_label-text-color);

  font-weight: 500;
  box-sizing: border-box;
  border-radius: 9999px;
  padding-inline-start: var(--_leading-space);
  padding-inline-end: var(--_trailing-space);

  padding-block: calc(
    (
        var(--_container-height) - max(
            var(--_label-text-line-height),
            var(--_icon-size)
          )
      ) / 2
  );

  &[fm-outlined-button] {
    > .outline {
      inset: 0px;
      box-sizing: border-box;
      border-style: solid;
      position: absolute;
      border-radius: 9999px;
      border-color: var(--_outline-color);
      border-width: var(--_outline-width);
    }
  }
  &[fm-elevated-button]{
    --fm-elevation-level:var(--_container-elevation);
  }
  &[fm-tonal-button] {
    background-color: var(--_container-color);
  }
  &[fm-filled-button] {
    background-color: var(--_container-color);
  }

  --fm-ripple-pressed-color:var(--_pressed-state-layer-color);
  --fm-ripple-pressed-opacity: var(--_pressed-state-layer-opacity);
}
